@font-face {
    font-family: 'Uthmanic';
    src: local('Uthmanic Script'), url(./fonts/KFGQPC-Uthmanic-Script-HAFS-Regular.otf) format('opentype');
    font-style: normal;
    font-display: swap;
}

.centered {
    text-align: center;
}

.quranAyats {
    text-align: center;
}

.quranic {
    /* position: relative; */
    /* top: -6px; */
    font-weight: 50;
    font-family: 'Uthmanic';
    font-size: 35pt;
    line-height: 3;
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
}

.hadis {
    /* position: relative; */
    /* top: -6px; */
    font-weight: 50;
    font-family: 'Uthmanic';
    font-size: 25pt;
    line-height: 1.75;
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
}

